.card {
    position: relative;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
  }
  .dropdown{
      margin-left: auto;
      
      
  }
  #container{
    height: 250px; /* Set the desired height */
  width: 400px; /* Set the desired width */
  overflow: hidden;
  }
  #dropdownbtn{
    background-size: cover;
    background-position: center;
    
    margin-left: -30px;
    position: absolute;
  }